---
import {categories} from "../data/categories"
const { basePath, type, title, hrefBase } = Astro.props;
import "../styles/global.css";
---

  <section class="category-page">
  <h1>{title ?? type?.toUpperCase()}</h1>
  <div class="grid">
    {categories.map((cat) => (
      <a 
      href={hrefBase ? `/${hrefBase}/${cat.slug}` : `/${basePath}/${type}/${cat.slug}`} 
      class="category-card"
      >
      <span class="category-card__icon">
        <img src={cat.icon} alt="" loading="lazy" />
      </span>
      <span class="category-card__label">{cat.name}</span>
  </a>
))}
  </div>
</section>
