---
const {
  basePath = "",
  title,
  productLabel = "PRODUCTOS",
  serviceLabel = "SERVICIOS",
  productHref,
  serviceHref,
} = Astro.props;
const normalizedBasePath = String(basePath).trim().replace(/^\/+|\/+$/g, "").toLowerCase();
import "../styles/global.css";
---
  <section class="level-two">
    {title && <h1 class="level-two__title">{title}</h1>}
    
    <div class="block-group">

      <a href={productHref ?? `/${normalizedBasePath}/productos`} class="level-block">
        {productLabel}
      </a>
      
     
      <a href={serviceHref ?? `/${normalizedBasePath}/servicios`} class="level-block">
        {serviceLabel}
      </a>
      
    </div>
  </section>
